body {
  background-image: url("../img/background.jpeg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10em;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 5em;
  font-weight: bold;
  color: rgb(151, 31, 175);
}
